<include file="Index/header" />
<body>

<div id="wrapper">

    <include file="Index/nav"/>

    <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/admin.php?c=reader">读者管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i>{$nav}
                    </li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <h3></h3>
                <div class="table-responsive">
                    <form id="singcms-listorder">
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>用户名</th>
                            <th>email</th>
                            <th>最后登录时间</th>
                            <td>状态</td>
                            <th>操作</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="readers" id="re">
                            <tr>
                                
                                <td>{$re.reader_id}</td>
                                <td>{$re.readername}</td>
                                <td>{$re.reader_email}</td>
                                <td>{$re.lasttime|date="Y-m-d H:i",###}</td>
                                <td>{$re.status}</td>
                                 <td>    
                                 	<a href="javascript:void(0)" attr-id="{$re.reader_id}" id="singcms-delete"  attr-a="reader" attr-message="删除"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                                 </td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                    </form>
                    
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>
    var SCOPE = {
       	'set_status_url' : '/admin.php?c=reader&a=setStatus',
        'index_url' : '/',

    }
</script>

<include file="Index/footer" />


