
<footer style="margin-top: 200px;">
    <p><a href="#" data-toggle="modal" data-target="#about-modal1">简介</a><i>|</i><a href="#" data-toggle="modal" data-target="#about-modal">公告</a><i>|</i> <a href="#" data-toggle="modal" data-target="#about-modal2">联系我们</a><i>|</i></p>
    <p>Copyright &copy; 2006 - 2017 资讯版权所有&nbsp;&nbsp;&nbsp;京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373号&nbsp;&nbsp;&nbsp;X市公安局XX分局备案编号：123456789123</p>
    <p class="web"><a href="#"><img src="/Public/images/webLogo.jpg" alt="logo"></a><a href="#"><img src="/Public/images/webLogo.jpg" alt="logo"></a><a href="#"><img src="/Public/images/webLogo.jpg" alt="logo"></a><a href="#"><img src="/Public/images/webLogo.jpg" alt="logo"></a></p>
</footer>
	<!--简介-->
 	<div class="modal fade" id="about-modal1" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title" id="modal-label">简介</h4>
                </div>
                <div class="modal-body">
                    <p>资讯网隶属于xxxx科技中心(有限合伙)，是一家从事互联网新闻公司。秉承“开拓、创新、公平、分享”的精神，
                        将致力于为新闻界打造一站式互动品牌。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">了解了</button>
                </div>
            </div>
        </div>
    </div>
    <!--公告-->
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title" id="modal-label">公告</h4>
                </div>
                <div class="modal-body">
                    <p>本站将于2017年5月9日服务器升级</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">了解了</button>
                </div>
            </div>
        </div>
    </div>
    <!--联系我们-->
     <div class="modal fade" id="about-modal2" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title" id="modal-label">联系我们</h4>
                </div>
                <div class="modal-body">
                    <p>电话：0889-4578902</p>
                    <p>QQ：4345902</p>
										<p>邮箱：zixun@126.com</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">了解了</button>
                </div>
            </div>
        </div>
    
</body>

<script src="/Public/js/jquery.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/dialog/layer.js"></script>
<script src="/Public/js/dialog.js"></script>
<script src="/Public/js/count.js"></script>
<script src="/Public/js/home/common.js"></script>
<script src="/Public/js/home/login.js"></script>
<script src="/Public/js/home/registe.js"></script>
<script src="/Public/js/home/reader.js"></script>
<script src="/Public/js/home/tc.js"></script>
</html>